*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #001B2E;
    color: #F0E3CA;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    max-width: 1500px;
    margin: auto;
}

h4{
    text-align: center;
    color: #FF8303;
    font-size: 32px;
    font-weight: 500;
}

/* NAV SECTION */

nav img{
    height: 3rem;
}

nav .nav-link{
    color: #F0E3CA !important;
}

.navbar-toggler{
    color: #F0E3CA !important;
    font-size: 2rem;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .nav-link:hover{
    color: #FF8303 !important;
}

.navbar-toggler:hover{
    color: #FF8303 !important;
}

/* HEADER SECTION */

header .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: auto;
}
header .intro{
    text-align: center;
    margin-bottom: 1rem;
}

header h1{
    font-size: 64px;
    font-weight: 500;
    color: #FF8303;
    margin-bottom: 0;
    line-height: 90%;
}

header h2{
    font-size: 40px;
}

.logo{
    font-size: 16px;
}

.logo-container{
    width: 30em;
    height: 30em;
    margin: auto;
    position: relative;
}

.logo-container *{
    position: absolute;
    border-radius: 15%;
}

.logo-box{
    width: 12em;
    height: 12em;
    background-color: #FF8303;
}

.logo-box-body{
    width: 18em;
    height: 18em;
    background-color: #F0E3CA;
    top: 6em;
    left: 6em;
}

.arms-logo{
    top: 6em;
    right: 0;
}

.legs-logo{
    bottom: 0;
    left: 9em;
}

.head-logo:hover{
    width: 30em;
    height: 30em;
}

@media (max-width: 576px) {

    nav img{
        height: 2rem;
    }

    .logo{
        font-size: 10px;
    }
    
  }

/* MAIN SECTION */

main p{
    padding: 1rem;
    text-align: center;
}

/* SKILLS SECTION */

.skills{
    padding: 1rem;
}

.skills .skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill-box{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.skill-box i{
    font-size: 72px;
}
.skill-box p{
    margin: 0;
}

/* PORTAFOLIO SECTION */

.portafolio{
    padding: 1rem;
}

.works-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.work{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
    width: 20rem;
}

.work img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.work-body h5{
    text-align: center;
    color: #FF8303;
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}

.work-text{
    padding: 0.5rem;
    height: 100px;
    text-align: center;
    margin-bottom: 0;
}

.work-footer{
    display: flex;
    justify-content: end;
    top: -1rem;
}

.work-footer a{
    text-decoration: none;
    color: #F0E3CA;
    font-size: 20px;
    font-weight: 400;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

.work-footer i{
    color: #FF8303;
}

.work-footer a:hover{
    color: #FF8303;
}