*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #001B2E;
    color: #F0E3CA;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    padding-top: 74px;
}

h4{
    text-align: center;
    color: #FF8303;
    font-size: 32px;
    font-weight: 500;
}

.portafolio, .education, .work-experience{
    scroll-margin-top: 9ex;
}

/* NAV SECTION */

.navbar{
    background-color: #1B3343;
}

nav img{
    height: 3rem;
}

nav .nav-link{
    color: #F0E3CA !important;
}

.navbar-toggler{
    color: #F0E3CA !important;
    font-size: 2rem;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

nav .nav-link:hover{
    color: #FF8303 !important;
}

.navbar-toggler:hover{
    color: #FF8303 !important;
}

/* HEADER SECTION */

header{
    max-width: 1500px;
    margin: auto;
}

header .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: auto;
}
header .intro{
    text-align: center;
    margin-bottom: 1rem;
}

header h1{
    font-size: 64px;
    font-weight: 500;
    color: #FF8303;
    margin-bottom: 0;
    line-height: 90%;
}

header h2{
    font-size: 40px;
}

.logo{
    font-size: 16px;
}

.logo-container{
    width: 30em;
    height: 30em;
    margin: auto;
    position: relative;
}

.logo-container *{
    position: absolute;
    border-radius: 15%;
}

.logo-box{
    width: 12em;
    height: 12em;
    background-color: #FF8303;
}

.logo-box-body{
    width: 18em;
    height: 18em;
    background-color: #F0E3CA;
    top: 6em;
    left: 6em;
}

.arms-logo{
    top: 6em;
    right: 0;
}

.legs-logo{
    bottom: 0;
    left: 9em;
}

.head-logo:hover{
    width: 30em;
    height: 30em;
}

@media (max-width: 576px) {

    nav img{
        height: 2rem;
    }

    .logo{
        font-size: 10px;
    }
    
  }

/* MAIN SECTION */

.text-main{
    padding: 1rem;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/* SKILLS SECTION */

.skills{
    padding: 1rem;
}

.skills .skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill-box{
    background-color: #1B3343;
    border-radius: 5%;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.skill-box i{
    font-size: 72px;
}
.skill-box p{
    margin: 0;
}

/* PORTAFOLIO SECTION */

.portafolio{
    padding: 1rem;
}

.works-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.work{
    background-color: #1B3343;
    border-radius: 5%;
    width: 20rem;
}

.work img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.work-body h5{
    text-align: center;
    color: #FF8303;
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}

.work-text{
    padding: 0.5rem;
    /* height: 100px; */
    text-align: center;
    margin-bottom: 0;
}

.work-footer{
    display: flex;
    justify-content: end;
    top: -1rem;
}

.work-footer a{
    text-decoration: none;
    color: #F0E3CA;
    font-size: 20px;
    font-weight: 400;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

.work-footer i{
    color: #FF8303;
}

.work-footer a:hover{
    color: #FF8303;
}

/* EDUCATION SECTION */

.education{
    padding: 1rem;
}

.education h3{
    font-size: 20px;
    color: #FF8303;
}

.bootcamps{
    max-width: 1200px;
    font-weight: 600;
    padding: 1rem;
    margin: auto;
}

.bootcamp-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid #F0E3CA 1px;
    padding: 0.5rem;
}

.bootcamp-box-top{
    border-top: solid #F0E3CA 1px;
}

.bootcamp-box *{
    margin: 0 0.5rem;
}

.bootcamp-name-box{
    width: 20rem;
    text-align: left;
}

.bootcamp-name-box h6{
    color: #FF8303;
}

.bootcamp-name-box *{
    padding: 0;
}

.bootcamp-description{
    font-weight: 300;
    text-align: left;
}

.certification{
    max-width: 1200px;
    font-weight: 600;
    padding: 1rem;
    margin: auto;
}

.certification-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: solid #F0E3CA 1px;
    border-bottom: solid #F0E3CA 1px;
    padding: 0.5rem;
}

.certificate{
    height: 250px;
    margin: 0.25rem;
}

/* EXPERIENCE SECTION */

.experience{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem;
}

.experience-box{
    background-color: #1B3343;
    border-radius: 3%;
    width: 25rem;
    padding: 1rem;
}

.experience-box h6{
    font-size: 18px;
    color: #FF8303;
    margin: 0;
    line-height: 50%;
}

.company-name{
    font-weight: 700;
    margin: 0;
}

.experience-time{
    font-weight: 300;
    line-height: 50%;
    font-size: 14px;
}

.experience-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-box li{
    line-height: 90%;
    padding: 0.25rem;
}

.experience-box i{
    font-size: 10px;
    color: #FF8303;
}

/* FOOTER SECTION */

footer{
    background-color: #1B3343;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    max-width: none;
}

.footer-box{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
}

.footer-logo{
    margin: 0;
    text-align: center;
}

.footer-logo img{
    height: 2rem;
}

.footer-text{
    max-width: 300px;
    text-align: center;
    margin-bottom: 0;
}

.contact-box{
    text-align: center;
}

.contact-box h5{
    color: #FF8303;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contact-box p{
    margin: 0;
}

.socials{
    margin: 0;
}

.socials a{
    font-size: 30px;
    color: #F0E3CA;
    margin: 0.25rem;
}